::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: rgba(21,21,21,0.8); }
::-webkit-scrollbar-thumb { background: crimson; }
::-webkit-scrollbar-thumb:hover { background: crimson; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }

body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

* {
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
}

.inventory {
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.innerInventory {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 4px;
	background-color: rgba(60, 61, 65, 0.616);
}

.sections {
	height: 589px;
	display: flex;
}

.invLeft, .invRight {
	row-gap: 3px;
	display: grid;
	column-gap: 3px;
	overflow-y: scroll;
	padding-right: 3px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
	width: 115px;
	height: 145px;
	display: flex;
	flex-direction: column;
	text-shadow: 1px 1px #000;
	background: rgba(21,21,21,0.5);
}

.populated {
	background: rgba(21,21,21,0.8);
	background-size: 86% !important;
}

.populated:hover, .hoverControl {
	background: rgba(10,10,10,0.9);
}

.item .top {
	display: flex;
	color: #8c8c8c;
	font-size: .70rem;
	justify-content: space-between;
}

.itemAmount {
	margin: 15px 15px 0 0;
}

.itemWeight {
	margin: 15px 0 0 15px;
}

.item .nameItem {
	align-self: center;

	width: 100%;
	color: #d0d0d0;

	padding: 8px 10px;
	font-size: .68rem;
	text-align: center;
	white-space: nowrap;
	letter-spacing: 1px;
	text-overflow: ellipsis;
	text-transform: uppercase;

	background: crimson;
}

.item .durability {
	width: 100%;
	height: 3px;
	margin-top: auto;
	background: #2e6e4c;
}

.invMiddle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input {
	text-align: center;
}

input::placeholder {
	color: #fff;
}

.invMiddle div, .invMiddle input {
	position: relative;
	top: 35%;
	border: 0;
	width: 70%;
	outline: none;
	color: #fff;
	padding: 16px 0;
	font-size: 12px;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 12px;
	letter-spacing: 1px;
	background: crimson;
}

#Status {
	position: relative;
}

#Hunger {
	position: absolute;
	color: rgba(21,21,21,0.8);
	padding: 10px 10px;
	border-radius: 4px;
	background: #FFB830;
}

#Thirst {
	position: absolute;
	color: rgba(21,21,21,0.8);
	padding: 10px 13px;
	border-radius: 4px;
	background: #0061A8;
}

#Stress {
	position: absolute;
	color: rgba(21,21,21,0.8);
	padding: 10px 10px;
	border-radius: 4px;
	background: #EC4646;
}

#backHunger {
	float: left;
	width: 100px;
	height: 35px;
	margin-left: 45px;
	margin-right: 15px;
	border-radius: 4px;
	position: relative;
	background: rgba(21,21,21,0.8);
}

#displayHunger {
	bottom: 0;
	float: left;
	width: 50px;
	height: 35px;
	position: absolute;
	background: #FFB830;
}

#backThirst {
	float: left;
	width: 100px;
	height: 35px;
	margin-left: 45px;
	margin-right: 15px;
	border-radius: 4px;
	position: relative;
	background: rgba(21,21,21,0.8);
}

#displayThirst {
	bottom: 0;
	float: left;
	width: 50px;
	height: 35px;
	position: absolute;
	background: #0061A8;
}

#backStress {
	float: left;
	width: 100px;
	height: 35px;
	margin-left: 45px;
	margin-right: 15px;
	border-radius: 4px;
	position: relative;
	background: rgba(21,21,21,0.8);
}

#displayStress {
	bottom: 0;
	float: left;
	width: 50px;
	height: 35px;
	position: absolute;
	background: #EC4646;
}

#weight {
	max-width: 587px;
}

#weightTextLeft {
	float: left;
	color: #9c9c9c;
	font-size: 12px;
	min-width: 580px;
	max-width: 580px;
	text-align: right;
	margin-right: 15px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

#weightBarLeft {
	float: left;
	min-height: 10px;
	max-height: 10px;
	min-width: 587px;
	max-width: 587px;
	margin-bottom: 5px;
	background: #222;
}

#weightTextRight {
	float: right;
	color: #9c9c9c;
	font-size: 12px;
	min-width: 580px;
	max-width: 580px;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

#weightBarRight {
	float: right;
	min-height: 10px;
	max-height: 10px;
	min-width: 587px;
	max-width: 587px;
	margin-bottom: 5px;
	background: #222;
}

#weightContent {
	float: left;
	min-height: 10px;
	max-height: 10px;
	max-width: 587px;
	background: crimson;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-tooltip {
	z-index: 9999;
	color: #d6d9df;
	font-size: 11px;
	position: absolute;
	background: #222;
	letter-spacing: 1px;
	padding: 20px 20px 15px;
	border-bottom: 1px solid crimson;
}

.ui-tooltip:hover {
	display: none;
}

.ui-tooltip item {
	float: left;
	font-size: 14px;
	min-width: 200px;
	letter-spacing: 2px;
	content: "f55f`";
}

.ui-tooltip legenda {
	float: left;
	min-width: 200px;
	margin-top: 10px;
	padding-top: 6px;
	line-height: 20px;
	letter-spacing: 2px;
}

.ui-tooltip description {
	float: left;
	color: #ccc;
	font-size: 10px;
	max-width: 200px;
	margin-top: 10px;
}

.ui-tooltip s {
	color: #fff;
	padding: 0 5px;
	text-decoration: none;
}

.ui-tooltip r {
	color: #fff;
}